/****************
Base Styles
****************/

.footer {
  flex: 1;
  background-color: black;
  margin-top: 80px;
}
.footerText {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.75em;
  color: white;
}

/****************
Home Page
****************/

/****************
Animals Page
****************/



/****************
Babies Page
****************/

/****************
Travel Page
****************/
